<div><%= flash[:notice] %></div>
<h1 class="m-3 d-flex justify-content-center">welcome to <i class="fa-solid fa-book"></i>Bookers !!</h1>
<div class="m-3 d-flex justify-content-center">In <i class="fa-solid fa-book"></i>Bookers,</br>

you can share and exchange your opinions , inpressions , and emotions</br>

about various books!</div>
<div class="m-3 d-flex justify-content-center">
    <%= link_to "Log in", new_user_session_path,class: "btn btn-info w-25"%>
</div>
<div class="m-3 d-flex justify-content-center">
    <%= link_to "Sign up", new_user_registration_path,class: "btn btn-success w-25"%>
</div> 


